body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: rgb(158, 191, 221);
}

div {
    background-color: rgba(240, 255, 255, 0.685);
    margin: 10%;
    border-radius: 15px 5px 15px 5px;
    border: solid rgba(0, 0, 0, 0.568) 2px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}